* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top division bar */
.topdiv {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    color: white;
}

/* Style the content */
.content {
    text-align: center;
    background-color: #ddd;
    padding: 10px;
}

.errors {
    text-align: center;
    color: red;
}

input[type=text], input[type=password], input[type=number] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=date] {
    text-align: right;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="date"]:before {
  color: grey;
  content: attr(placeholder) !important;
  margin-right: 0.5em;
}

input[type="date"]:focus:before {
  content: '' !important;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 18%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

ul {
    list-style-type: none;
}